.u-section-1 {background-image: url("images/IMG-6957.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 621px}
.u-section-1 .u-text-1 {font-size: 6rem; text-transform: uppercase; font-weight: 100; margin: 60px auto 60px 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 512px}
.u-section-1 .u-text-1 {width: auto; margin-top: 288px} }

@media (max-width: 991px){ .u-section-1 {background-position: 60.45% 52.41%; background-size: 135%}
.u-section-1 .u-sheet-1 {min-height: 397px}
.u-section-1 .u-text-1 {margin-top: 60px} }

@media (max-width: 767px){ .u-section-1 {background-size: auto 135%}
.u-section-1 .u-sheet-1 {min-height: 441px}
.u-section-1 .u-text-1 {margin-top: 133px} }

@media (max-width: 575px){ .u-section-1 {background-position: 6.06% 49.09%; background-size: 145%}
.u-section-1 .u-sheet-1 {min-height: 281px}
.u-section-1 .u-text-1 {font-size: 3.75rem; margin-top: 60px; margin-left: 27px; margin-right: 27px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 450px}
.u-section-2 .u-text-1 {font-weight: 700; font-size: 1.875rem; margin: 41px 0 0}
.u-section-2 .u-text-2 {line-height: 0.8; text-transform: uppercase; font-weight: 300; font-size: 4.5rem; margin: 20px auto 0 1px}
.u-section-2 .u-text-3 {letter-spacing: 2px; margin: 20px 570px 0 0}
.u-section-2 .u-text-4 {font-weight: 700; letter-spacing: 2px; margin: -75px 0 60px 750px}
.u-section-2 .u-btn-1 {padding: 0}
.u-section-2 .u-btn-2 {padding: 0}
.u-section-2 .u-btn-3 {padding: 0} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-top: 60px}
.u-section-2 .u-text-2 {font-size: 6rem; width: auto}
.u-section-2 .u-text-3 {margin-right: 370px}
.u-section-2 .u-text-4 {width: auto; margin-left: 611px} }

@media (max-width: 991px){ .u-section-2 .u-text-3 {width: auto; margin-right: 317px}
.u-section-2 .u-text-4 {margin-top: -100px; margin-left: 468px} }

@media (max-width: 767px){ .u-section-2 .u-text-3 {margin-right: 0}
.u-section-2 .u-text-4 {margin-left: 144px} }

@media (max-width: 575px){ .u-section-2 .u-text-4 {margin-top: 20px; margin-left: 0} }.u-section-3 {background-image: url("images/pexelsphoto3805983.jpeg"); background-position: 100% 0%; background-size: 120%}
.u-section-3 .u-sheet-1 {min-height: 700px}
.u-section-3 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-3 .u-layout-cell-1 {min-height: 624px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-image-1 {background-image: url("images/vincent-van-gogh-medium.jpg"); background-position: 50% 50%; margin: 0 auto 0 0}
.u-section-3 .u-layout-cell-2 {min-height: 624px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-text-1 {font-style: normal; font-size: 3.75rem; line-height: 1; text-transform: uppercase; font-weight: 300; margin: 56px 0 0 234px}
.u-section-3 .u-text-2 {margin-left: 234px; margin-right: 0} 

@media (max-width: 1199px){ .u-section-3 {background-size: auto 120%}
.u-section-3 .u-sheet-1 {min-height: 665px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 515px}
.u-section-3 .u-image-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-2 {min-height: 515px}
.u-section-3 .u-text-1 {font-size: 6rem; width: auto; margin-right: auto; margin-left: 0} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 468px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-text-1 {font-size: 4.5rem} }

@media (max-width: 767px){ .u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-2 {margin-left: 362px} }

@media (max-width: 575px){ .u-section-3 .u-text-2 {margin-left: 223px} }.u-section-4 .u-sheet-1 {min-height: 730px}
.u-section-4 .u-layout-wrap-1 {pointer-events: auto; margin: 70px 0}
.u-section-4 .u-image-1 {min-height: 600px; pointer-events: auto; background-image: url("images/IMG-7100.JPG"); background-position: 50% 50%}
.u-section-4 .u-container-layout-1 {padding: 30px 60px}
.u-section-4 .u-layout-cell-2 {min-height: 600px; pointer-events: auto}
.u-section-4 .u-container-layout-2 {padding: 30px 60px}
.u-section-4 .u-text-1 {font-family: "Alfa Slab One"; font-size: 3rem; margin: 225px 0 0}
.u-section-4 .u-text-2 {font-size: 1.5rem; margin: 22px auto 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 100px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {min-height: 495px}
.u-section-4 .u-layout-cell-2 {min-height: 495px} }

@media (max-width: 991px){ .u-section-4 .u-image-1 {min-height: 379px}
.u-section-4 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 390px}
.u-section-4 .u-image-1 {min-height: 569px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 179px}
.u-section-4 .u-image-1 {min-height: 358px}
.u-section-4 .u-text-1 {font-size: 1.5rem} }.u-section-5 .u-sheet-1 {min-height: 306px}
.u-section-5 .u-btn-1 {border-style: none; font-size: 3rem; margin: 28px auto 0 34px; padding: 0}
.u-section-5 .u-icon-1 {font-size: 1.2em}
.u-section-5 .u-btn-2 {border-style: none; font-weight: 700; font-size: 0.9375rem; margin: 10px auto 0 289px; padding: 14px 56px 15px 54px}
.u-section-5 .u-btn-3 {border-style: none; font-weight: 700; font-size: 0.9375rem; margin: -77px 287px 0 auto; padding: 14px 56px 15px 54px}
.u-section-5 .u-btn-4 {border-style: none; font-weight: 700; font-size: 1.25rem; letter-spacing: 1px; margin: 57px 479px 10px auto; padding: 0} 

@media (max-width: 1199px){ .u-section-5 .u-btn-1 {margin-left: 0}
.u-section-5 .u-icon-1 {font-size: 1.2rem}
.u-section-5 .u-btn-2 {margin-left: 89px}
.u-section-5 .u-btn-3 {margin-right: 87px}
.u-section-5 .u-btn-4 {margin-right: 279px} }

@media (max-width: 991px){ .u-section-5 .u-btn-2 {margin-left: 0}
.u-section-5 .u-btn-3 {margin-right: 0}
.u-section-5 .u-btn-4 {margin-right: 59px} }

@media (max-width: 767px){ .u-section-5 .u-btn-4 {margin-right: 0} }.u-section-6 {background-image: url("images/IMG-6957.jpg"); background-position: 50% 50%}
.u-section-6 .u-sheet-1 {min-height: 761px}
.u-section-6 .u-text-1 {text-transform: uppercase; margin: 621px 548px 60px 13px} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 491px}
.u-section-6 .u-text-1 {font-size: 6rem; font-weight: normal; margin-right: 360px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 376px}
.u-section-6 .u-text-1 {margin-right: 140px} }

@media (max-width: 767px){ .u-section-6 {background-position: 10.32% 50%}
.u-section-6 .u-sheet-1 {min-height: 282px}
.u-section-6 .u-text-1 {width: auto; margin-top: 60px; margin-right: 72px; margin-left: 0} }

@media (max-width: 575px){ .u-section-6 {background-position: 47.33% 50%}
.u-section-6 .u-sheet-1 {min-height: 178px}
.u-section-6 .u-text-1 {margin-right: 22px} }.u-section-7 {background-image: none}
.u-section-7 .u-sheet-1 {min-height: 450px}
.u-section-7 .u-text-1 {font-weight: 700; font-size: 1.875rem; margin: 41px 0 0}
.u-section-7 .u-text-2 {line-height: 0.8; text-transform: uppercase; font-weight: 300; font-size: 4.5rem; margin: 20px auto 0 1px}
.u-section-7 .u-text-3 {letter-spacing: 2px; margin: 20px 570px 0 0}
.u-section-7 .u-text-4 {font-weight: 700; letter-spacing: 2px; margin: -75px 0 60px 750px}
.u-section-7 .u-btn-1 {padding: 0}
.u-section-7 .u-btn-2 {padding: 0}
.u-section-7 .u-btn-3 {padding: 0} 

@media (max-width: 1199px){ .u-section-7 .u-text-1 {margin-top: 60px}
.u-section-7 .u-text-2 {font-size: 6rem; width: auto}
.u-section-7 .u-text-3 {margin-right: 370px}
.u-section-7 .u-text-4 {width: auto; margin-left: 611px} }

@media (max-width: 991px){ .u-section-7 .u-text-3 {width: auto; margin-right: 317px}
.u-section-7 .u-text-4 {margin-top: -100px; margin-left: 468px} }

@media (max-width: 767px){ .u-section-7 .u-text-3 {margin-right: 0}
.u-section-7 .u-text-4 {margin-left: 144px} }

@media (max-width: 575px){ .u-section-7 .u-text-4 {margin-top: 20px; margin-left: 0} }.u-section-8 {background-image: url("images/49555-artwork-Vincent_van_Gogh-The_Starry_Night-classic_art.jpg"); background-position: 50% 50%}
.u-section-8 .u-sheet-1 {min-height: 565px}
.u-section-8 .u-text-1 {font-size: 9.375rem; text-transform: uppercase; font-weight: 100; margin: 0 0 60px auto} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 353px}
.u-section-8 .u-text-1 {font-size: 6rem; width: auto} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 343px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 313px} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 239px}
.u-section-8 .u-text-1 {font-size: 4.5rem} }.u-section-9 .u-sheet-1 {min-height: 860px}
.u-section-9 .u-layout-wrap-1 {margin: 70px 0}
.u-section-9 .u-image-1 {min-height: 500px; background-image: url("images/49555-artwork-Vincent_van_Gogh-The_Starry_Night-classic_art.jpg"); background-position: 50% 50%}
.u-section-9 .u-container-layout-1 {padding: 30px 60px}
.u-section-9 .u-layout-cell-2 {min-height: 250px}
.u-section-9 .u-container-layout-2 {padding: 30px}
.u-section-9 .u-image-2 {min-height: 250px; background-image: url("images/970px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg"); background-position: 50% 50%}
.u-section-9 .u-container-layout-3 {padding: 30px}
.u-section-9 .u-image-3 {min-height: 250px; background-image: url("images/IMG-7100.JPG"); background-position: 50% 50%}
.u-section-9 .u-container-layout-4 {padding: 30px}
.u-section-9 .u-layout-cell-5 {min-height: 250px}
.u-section-9 .u-container-layout-5 {padding: 30px}
.u-section-9 .u-image-4 {min-height: 500px; background-image: url("images/IMG-6957.jpg"); background-position: 50% 50%}
.u-section-9 .u-container-layout-6 {padding: 30px 60px} 

@media (max-width: 1199px){ .u-section-9 .u-sheet-1 {min-height: 100px}
.u-section-9 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-9 .u-image-1 {min-height: 412px}
.u-section-9 .u-layout-cell-2 {min-height: 206px}
.u-section-9 .u-image-2 {min-height: 206px}
.u-section-9 .u-image-3 {min-height: 206px}
.u-section-9 .u-layout-cell-5 {min-height: 206px}
.u-section-9 .u-image-4 {min-height: 412px} }

@media (max-width: 991px){ .u-section-9 .u-image-1 {min-height: 631px}
.u-section-9 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-9 .u-layout-cell-2 {min-height: 316px}
.u-section-9 .u-image-2 {min-height: 316px}
.u-section-9 .u-image-3 {min-height: 316px}
.u-section-9 .u-layout-cell-5 {min-height: 316px}
.u-section-9 .u-image-4 {min-height: 631px}
.u-section-9 .u-container-layout-6 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-9 .u-image-1 {min-height: 473px}
.u-section-9 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-layout-cell-2 {min-height: 474px}
.u-section-9 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-image-2 {min-height: 474px}
.u-section-9 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-image-3 {min-height: 474px}
.u-section-9 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-layout-cell-5 {min-height: 474px}
.u-section-9 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-image-4 {min-height: 473px}
.u-section-9 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-9 .u-image-1 {min-height: 298px}
.u-section-9 .u-layout-cell-2 {min-height: 298px}
.u-section-9 .u-image-2 {min-height: 298px}
.u-section-9 .u-image-3 {min-height: 298px}
.u-section-9 .u-layout-cell-5 {min-height: 298px}
.u-section-9 .u-image-4 {min-height: 298px} }